.Header {
    position: fixed; left: 0px; top: 0px;
    height: 80px; width: 100%;
    background: #fafafa;
    border-bottom: 1px solid #ccc;
}
.h1Header {
    position: absolute;
    text-decoration: overline;
}

.h1Header:hover{
    cursor: pointer;
}

