.sectionDiv {
    position: relative;
    width: 100%;
    background-color: #fafafa;
    border-bottom: 1px solid #ccc;    
    border-top: 1px solid #ccc;;
}

.ContainerInfo {
    position: absolute;
    background-color: #fafafa;
    border: 2px solid #ccc;
}